p.highlight, blockquote.highlight {
  background: rgba(255, 235, 130, 0.2);
  border-left: 4px solid #e7af06;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.important, blockquote.important {
  background: rgba(44, 132, 250, 0.2);
  border-left: 4px solid #183385;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}